<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if pagetitle %}{{ pagetitle }} &mdash; {% endif %}Old Face</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
{% block body %}

    {% block navbar %}
    {% endblock %}

    {% block content %}
    {% endblock %}

     <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h4><strong>OldFace</strong>
                        </h4>
                        <p>Wien</p>

                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone fa-fw"></i> SWE Projekt</li>
                            <li><i class="fa fa-envelope-o fa-fw"></i> Teamnmitgliedernamen!
                            </li>
                        </ul>
                        <br>
                        </ul>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; OldFace 2016</p>
                    </div>
                </div>
            </div>
        </footer>

{% endblock %}

<!--Javascript Tags here -->
</body>
</html>