<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if pagetitle %}{{ pagetitle }} &mdash; {% endif %}Old Face</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
{% block body %}

    {% block navbar %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        <!--Footer here without the endblock stuff-->
    {% endblock %}

{% endblock %}

<!--Javascript Tags here -->
</body>
</html>