{% extends "navbarExternal.twig" %}

{% set pagetitle = 'Login Error' %}

{% block content %}

    <div class="jumbotron">
        <p><br><br>
        <h1> ERROR </h1>
        <h2> Benutzername oder Passwort nicht korrekt!</h2>
        </p>
    </div>

{% endblock %}