{% extends "../layouts/navbarExternal.twig" %}

{% set pagetitle = '404 Error' %}

{% block content %}

    <div class="container-fluid jumbotron text-center">
        <p><br><br>
        <h2> 404 </h2>
        <h2> Irgendwas ist schiefgelaufen! Bitte versuch es nochmal!</h2>
        </p>
        <ul class="btn btn-lg">
            <li><a href="/">zurück zur Startseite</a></li>
        </ul>
    </div>

{% endblock %}