{% extends "../layouts/navbarExternal.twig" %}

{% set pagetitle = 'Login Error' %}

{% block content %}

    <div class="container-fluid jumbotron text-center">
        <p><br><br>
        <h2> ERROR </h2>
        <h2> Bei der Registrierung lief etwas schief!</h2>
        </p>
        <ul class="btn btn-lg">
            <li><a href="/register">zurück zu Register</a></li>
        </ul>
    </div>

{% endblock %}