.white-background {
    background-color:white;
}

.navbar {
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:lightgrey;
    margin-bottom:0;
    border-radius:0;
    font-size:16px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: black;
}

.jumbotron-image{
    background: url("/img/oldface.png") center no-repeat;
    width:100%;
}

.white-background-transparency{
    background-color:rgba(255, 255, 255, 0.4);;
}

.blue-text {
    color:#337ab7;
}