.white-background {
    background-color:white;
}

.navbar {
    border-bottom:lightgrey;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: black;
}