{% extends "../layouts/navbarInternal.twig" %}

{% set pagetitle = 'Register' %}

{% block content %}

    <div class="jumbotron">

        <div  class="container" >
            <br>
                <h1>{{ name }}</h1>
            <div class="col-sm-3">
                <br>
                <br>
                <img src="/img/Avatar.jpg" alt="Profilbild" height=150px width=150px class="img-thumbnail"><br><br>

                <form method="post" action="/editProfile" name="editProfile">

                    <input type="submit" class="btn btn-default disabled" value="Profil bearbeiten">
                </form><br>
                <br>


                <!-- We dont need this in the first iteration
                <p>Wohnort: </p> <c:out value="${wohnort}"/> <br>
                <p>E-Mail: </p> <c:out value="${user}"/>  <br>
                <p>Geburtsdatum: </p> <c:out value="${gebdatum}"/>  <br>
                -->

                <form method="post" action="/showFriends" name="showFriends">
                    <input type="submit" class="btn btn-default disabled" value="Freunde anzeigen">
                </form><br>


            </div>
            <div class="jumbotron">
                <div class="container">
                    <div class="col-sm-6">
                        <form method="post" action="BenutzerServlet" name="kurzbeschreibung">
                            Kurzbeschreibung: <c:out value="${kurzbeschreibung}"/> <br>
                        </form>

                    </div>
                    <div class="col-sm-9">
                        <form method="post" action="/post" name="beitragpost">

                            <input type="hidden" name="select" value="beitragposten">
                            <input type="hidden" name="curruser" value="${user }">

                            <h3>Wall : </h3>
                            <input type="text" class="form-control" name="blogPost" placeholder="Was willst du posten?" value="" required/>
                            <input type="submit" class="btn btn-default" value="Posten" /><br>
                        </form>


                        <c:forEach items="${wall}" var="beitrag" varStatus="status">
                            ${beitrag }
                            <c:forEach items="${wall}" var="kommentar" varStatus="status"><br>
                                ${kommentar}
                            </c:forEach>
                            <input type="text" class="form-control" name="kommentar" placeholder="Dein Kommentar dazu" value="" required/>
                            <input type="submit" class="btn btn-default btn-sm" value="Kommentar absenden" /><br>
                        </c:forEach>


                        {% for post in posts %}
                            <div class="panel panel-default">
                                <div class="panel-heading">{{post.creationDate.format("Y-m-d")}}</div>
                                <div class="panel-body">
                                    {{post.content}}
                                </div>
                            </div>
                        {% endfor%}

                    </div>
                </div>
            </div>


            <br><br>
        </div>
    </div>
{% endblock %}