{% extends "../layouts/navbarExternal.twig" %}

{% set pagetitle = 'Login' %}

{% block content %}

    <form method="post" action="/" name="login">
        <div class="jumbotron jumbotron-image">
            <div class= "container">
                <br> <br>
                <table class="table white-background-transparency">
                    <thead>
                    <tr>
                        <th colspan="2"><h2>OldFace Login</h2></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Username</td>
                        <td><input class="form-control" type="text" name="username" value="" required/></td>
                    </tr>
                    <tr>
                        <td>Passwort</td>
                        <td><input class="form-control" type="password" name="password" value="" required/></td>
                    </tr>
                    <tr>
                    <td><div class="btn-group">
                            <input type="submit" value="Login" class="btn btn-default"/>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/AdminWall">Login as Admin</a></li>
                                <li><a href="/ResearcherWall">Login as Researcher</a></li>


                            </ul>
                        </div></td>
                    </tr>



                    </tbody>
                </table>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Fehler!</strong> Dein Passwort oder ein Username stimmt nicht!
                    </div>
                {% endif %}

            </div>
        </div>
    </form>

{% endblock %}