{% extends "../layouts/navbarExternal.twig" %}

{% set pagetitle = 'Register' %}

{% block content %}

    <form method="post" action="/register" name="register">
        <div class="jumbotron jumbotron-image">
            <div class= "container">
                        <br> <br>
                  <table class="table white-background-transparency">
                    <thead>
                    <tr>
                        <th colspan="4"><h2>OldFace Registrierung</h2></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Username</td>
                        <td><input class="form-control" type="text" name="username" value="" required/></td>
                    </tr>
                    <tr>
                        <td>Passwort</td>
                        <td><input class="form-control" type="password" name="password" placeholder="Empfohlen sind mindestens 4 Zeichen" value="" required/></td>
                    </tr>
                    <tr>
                        <td><input class="btn btn-default" type="submit" value="Registrieren" /></td>
                    </tr>
                    </tbody>
                </table>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Fehler!</strong> Dieser Username ist schon vergeben, bitte wähle einen anderen!
                    </div>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}