{% extends "../layouts/navbarExternal.twig" %}

{% set pagetitle = 'Register' %}

{% block content %}

    <form method="post" action="/register" name="register">
        <div class="jumbotron jumbotron-image">
            <div class= "container">
                        <br> <br>
                  <table class="table white-background-transparency">
                    <thead>
                    <tr>
                        <th colspan="4"><h2>OldFace Registrierung</h2></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Username</td>
                        <td><input class="form-control" type="text" name="username" value="" required/></td>
                    </tr>
                    <tr>
                        <td>Passwort</td>
                        <td><input class="form-control" type="password" name="password" placeholder="Empfohlen sind mindestens 4 Zeichen" value="" required/></td>
                    </tr>
                    <tr>
                        <td>
                        <div class="btn-group">
                            <input type="submit" value="Registrieren" class="btn btn-default"/>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/wall">Register as Admin</a></li>
                                <li><a href="/wall">Register as Researcher</a></li>


                            </ul>
                        </div></td>
                    </tr>
                    </tbody>
                </table>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Fehler!</strong> Dieser Username ist schon vergeben, bitte wähle einen anderen!
                    </div>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}