{% extends "../base.twig" %}


{% block navbar %}

    <nav class="navbar navbar-inverse white-background">
        <div class="container">

            <div class="navbar-header">
                <a class="brand" href="/wall"><img src="/img/Logo2.PNG" height=80px/></a>
            </div>


            <ul class="nav navbar-nav navbar-right">
                <li><form class="form-inline my-2 my-lg-0" action="/search" name="search">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suchen</button>
                </form></li>
                <li><a href="/dashboard"><span class="glyphicon glyphicon-th-list"></span> Dashboard anzeigen</a></li>
                <li><a href="/wall"><span class="glyphicon glyphicon-user"></span> Eigene Wall anzeigen</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>

        </div>
    </nav>

{% endblock %}