{% extends "base.twig" %}


{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="brand" href="#"><img src="/WebContent/img/Logo2.PNG" height=80px/></a>
            </div>


            <ul class="nav navbar-nav navbar-right">

                <li><a href="dashboard.html"><span class="glyphicon glyphicon-th-list"></span> Dashboard anzeigen</a></li>
                <li><a href="home.html"><span class="glyphicon glyphicon-user"></span> Eigene Wall anzeigen</a></li>
                <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>

        </div>
    </nav>

{% endblock %}